// Common styles of the project
@import '../css/bootstrap.min.css'
@import '../css/font-awesome.min.css'
html, body
    height 100%
    background: #2d3136;


* html .page__wrapper
    height 100%

.page__buffer
    height 50px

.container
    max-width: 850px;

input.input_state_error,
input.input_state_error:focus,
textarea.input_state_error,
textarea.input_state_error:focus
    border-color: #e2001a;
    background-color: rgba(226, 0, 26, 0.2);

.message-insert
    display: none;

.message-insert_state_success
    display: block;