<div class="footer">
    <div class="footer__copyright col-xs-12 col-md-6">
        <img src="%=static=%img/general/header__logo.png">
    </div>
    <div class="footer__copyright col-xs-12 col-md-6">
        {{> social/social social}}
    </div>
</div>