.social
    margin: 0;
    padding: 5px 0 0 0;
    list-style: none;
    text-align: right;

    &__item
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;

    &__link
        font-size: 16px;
        display: inline-block;
        color: #656556; 
        text-decoration: none;
        background: #2f3338;
        border-radius: 50%;
        border: 2px solid #454648;

        &_icon_vk
            padding: 2px 5px;

        &_icon_facebook
            padding: 2px 9px;

@media all and (max-width: 990px)
    .social
        text-align: center;