<ul class="social">
    {{#each items}}
        <li class="social__item">
            <a href="{{link}}" target="_blank" class="social__link social__link_icon_{{icon}}">
                <i class="fa fa-{{icon}} social__icon" aria-hidden="true"></i>
            </a>
    {{/each}}
</ul>