.form
    width: auto;

    &__col
        display: inline-block;
        vertical-align: top;

    &__col:nth-of-type(even)
        padding-left: 50px;

    &__row
        padding-bottom: 40px;

        &_position_right
            text-align: right;

    &__label
        display: block;
        color: #d7d7d7;
        font-size: 21px;
        padding-bottom: 10px;
        
    &__required
        color: #b8393b;
        font-size: 20px;

    &__input,
    &__textarea
        background: #2e3237;
        color: #d7d7d7;
        font-size: 18px;
        border: 1px solid #4b4f53;
        border-radius: 3px;
        padding: 15px;
        max-width: 300px;
        width: 100%;

    &__textarea
        height: 145px;
        max-width: 350px

    &__submit
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 21px;
        padding: 14px 30px;
        background: #be393b;

@media all and (max-width: 769px)
    .form

        &__input,
        &__textarea
            max-width: 100%;

@media all and (min-width: 320px)
    .form

        &__col:nth-of-type(even)
            padding-left: 15px;
