<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 message-insert">
            <div class="alert alert-success" role="alert">Спасибо! Сообщение отправлено.</div>
        </div>
        <form class="form" method="post" action="http://access.divzero.pro/feedback.php">
            <div class="form__col col-md-6 col-xs-12">
                <div class="form__row">
                    <label class="form__label" for="username">Имя <span class="form__required">*</span></label>
                    <input class="input form__input" type="text" name="username" required="required" id="username" data-pattern="textlen">
                </div>
                <div class="form__row">
                    <label class="form__label" for="email">E-mail <span class="form__required">*</span></label>
                    <input class="input form__input" type="text" name="email" required="required" id="email" data-pattern="email">
                </div>
            </div><!--
            --><div class="form__col col-md-6 col-xs-12">
                <div class="form__row">
                    <label class="form__label" for="message">Комменатрий <span class="form__required">*</span></label>
                    <textarea name="message" class="textarea form__textarea" id="message" data-pattern="textlen"></textarea>
                </div>
                <div class="form__row form__row_position_right">
                    <button type="submit" class="form__submit">Записать</button>
                </div>
            </div>
        </form>
    </div>
</div>