<div class="container">
    <div class="cards">
        <div class="cards__head">Выводим комментарий</div>
        <ul class="cards__list row">
            {{#each items}}
                <li class="cards__item col-md-4 col-xs-12">
                    <div class="cards__title">{{name}}</div>
                    <div class="cards__body">
                        <div class="cards__email">{{email}}</div>
                        <div class="cards__text">{{text}}</div>
                    </div>
            {{/each}}
        </ul>
    </div>
    <template class="cards__template">
        <ul>
            <li class="cards__item col-md-4 col-xs-12">
                <div class="cards__title" data-name="username"></div>
                <div class="cards__body">
                    <div class="cards__email" data-name="email"></div>
                    <div class="cards__text" data-name="message"></div>
                </div>
        </ul>
    </template>
</div>