.cards
    background: #fff;
    padding: 80px 0;

    &__head
        text-align: center;
        font-size: 26px;
        color: #37414e;
        padding-bottom: 70px;

    &__list
        margin: 0;
        padding: 0;
        list-style: none;

    &__item
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        color: #6d737b;
        text-align: center;
        border-radius: 3px;
        margin-bottom: 40px;

    &__body
        background: #e9eef3;
        padding: 25px 5px 60px 5px;

    &__item:nth-of-type(even) &__body
        background: #deebde;
        color: #58ad52;
    
    &__title
        text-align: center;
        font-weight: 700;
        color: #fff;
        background: #4b596c;
        width: 100%;
        display: block;
        padding: 14px 0px;

    &__item:nth-of-type(even) &__title
        background: #58ad52;

    &__email
        font-weight: 700;
        font-size: 15px;
        padding-bottom: 30px;

    &__text
        font-size: 14px;

    &__item:nth-of-type(even) &__text
        color: #768275;