<div class="main">
    <div class="main__form">
        <div class="main__logo">
            <img src="%=static=%img/content/main__logotype.png" class="main__logotype">
        </div>
        {{> form/form}}
    </div>
    <div class="main__cards">
        {{> cards/cards cards}}
    </div>
</div>