.main
    position: relative;

    &__cards
        background: #fff;
    
    &__title
        text-align: center;
        color: #37414e;
        font-size: 18px;

    &__logo
        text-align: center;
        padding-bottom: 20px;